<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta name="description" content="" />
    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700|Yeseva+One&amp;subset=cyrillic" rel="stylesheet">
    <link rel="stylesheet" href="/index.css">
  </head>
  <body>
    <%- include('./preloader') %>
    <%- include('./top') %>
    <div class="container-fluid main-wrapper">
      <%- include('./menu') %>
      <%- include('sections/head') %>
      <%- include('sections/about') %>
      <%- include('sections/projects') %>
      <%- include('sections/furniture') %>
      <%- include('sections/feedback') %>
      <%- include('sections/contacts') %>
      <%- include('sections/footer') %>
      <img class="viewer-twin" src="" alt="">
    </div>
    <script src="/index.js"></script>
  </body>
</html>
