<section id="interiors-section" class="interiors-section">
  <div class="row">
    <div class="col-xl-12 offset-xl-2 col-sm-11 offset-sm-1">
      <h2>Интерьеры</h2>  
    </div>
  </div>
  <div class="row">
    <div class="col-xl-4 col-lg-5 offset-lg-6 offset-md-4 col-md-7 col-sm-8 offset-sm-3">
      <figure class="project--photo-wrap">
        <img class ="project--photo" src=<%= imagesBaseUrl + interiors[1].photo %> alt="">   
        <figcaption>
          <span class="project--title"><%= interiors[1].title %></span>
          <span class="project--year"><%= interiors[1].year %></span>
        </figcaption>
      </figure>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-3 offset-xl-2 col-lg-5 offset-lg-2 col-md-6 offset-md-2 col-sm-8 offset-sm-1">
      <figure class="project--photo-wrap">
        <img class ="project--photo" src=<%= imagesBaseUrl + interiors[0].photo %> alt="">   
        <figcaption>
          <span class="project--title"><%= interiors[0].title %></span>
          <span class="project--year"><%= interiors[0].year %></span>
        </figcaption>
      </figure>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-4 offset-xl-4 col-lg-5 offset-lg-4 col-md-6 offset-md-5 col-sm-7 offset-sm-4">
      <figure class="project--photo-wrap">
        <img class ="project--photo" src=<%= imagesBaseUrl + interiors[4].photo %> alt="">   
        <figcaption>
          <span class="project--title"><%= interiors[4].title %></span>
          <span class="project--year"><%= interiors[4].year %></span>
        </figcaption>
      </figure>
    </div>
  </div>
  <div class="row">
    <div class="col-xl-4 offset-xl-1 col-lg-5 offset-lg-1 col-md-6 offset-md-2 col-sm-8 offset-sm-1">
      <figure class="project--photo-wrap">
        <img class ="project--photo" src=<%= imagesBaseUrl + interiors[3].photo %> alt="">   
        <figcaption>
          <span class="project--title"><%= interiors[3].title %></span>
          <span class="project--year"><%= interiors[3].year %></span>
        </figcaption>
      </figure>
    </div>
  </div>
  <div class="row">
    <div class="offset-xl-6 col-xl-5 col-lg-6 offset-lg-5 col-md-7 offset-md-4 col-sm-8 offset-sm-3">
      <figure class="project--photo-wrap">
        <img class ="project--photo" src=<%= imagesBaseUrl + interiors[2].photo %> alt="">   
        <figcaption>
          <span class="project--title"><%= interiors[2].title %></span>
          <span class="project--year"><%= interiors[2].year %></span>
        </figcaption>
      </figure>
    </div>
  </div>
</section> 
